In [13]:
from bs4 import BeautifulSoup
from urllib.request import urlopen


page = urlopen("http://www.planecrashinfo.com/database.htm")

In [14]:
html = page.read().decode("utf-8")
soup = BeautifulSoup(html, 'html.parser')

In [15]:
year_links = soup.find_all('table')[1].find_all('a')

In [16]:
def scrap_info(url) -> BeautifulSoup:
    print("http://www.planecrashinfo.com"+url)
    pagee = urlopen("http://www.planecrashinfo.com"+url)
    htmll = pagee.read()
    soupp = BeautifulSoup(htmll, 'html.parser')
    return soupp

In [50]:
aboard = []
on_board_fatal = []
ground_fatal = []
location = []
Date = []
airtype = []


# def find_data_crash(index):
#     ys = scrap_info(year_links[index]['href'])
#     table  = ys.findAll('table')[0]
#     trs = table.find_all('tr')
#     for tr in range(1, len(trs)):
#         col = trs[tr].find_all('td')

#         Date.append(col[0].find('a').text)
#         location.append(col[1].text)
#         airtype.append(col[2].text)

#         aboard1, fatalities1  = col[3].text.split('/')
#         fatalities1 = fatalities1.split('(')
#         on_board_fatal1 = fatalities1[0]
#         ground_fatal1 = fatalities1[1].replace(')', '')
#         aboard.append(aboard1)
#         on_board_fatal.append(on_board_fatal1)
#         ground_fatal.append(ground_fatal1)
#     return Date,location,airtype,aboard,on_board_fatal,ground_fatal
aboard = []
on_board_fatal = []
ground_fatal = []
location = []
Date = []
airtype = []


def find_data_crash(years):
    for i in range(years):
        ys = scrap_info(year_links[i]['href'])
        table  = ys.findAll('table')[0]
        trs = table.find_all('tr')
        for tr in range(1, len(trs)):
            col = trs[tr].find_all('td')

            Date.append(col[0].find('a').text)
            location.append(col[1].text)
            airtype.append(col[2].text)

            aboard1, fatalities1  = col[3].text.split('/')
            fatalities1 = fatalities1.split('(')
            on_board_fatal1 = fatalities1[0]
            ground_fatal1 = fatalities1[1].replace(')', '')
            aboard.append(aboard1)
            on_board_fatal.append(on_board_fatal1)
            ground_fatal.append(ground_fatal1)
        df = pd.DataFrame(list(zip(Date,location,airtype,aboard,on_board_fatal,ground_fatal)),columns = ["Date","location","airtype","aboard","on_board_fatal","ground_fatal"])
    return df

In [51]:
import pandas as pd
# for five years
df = find_data_crash(5)
df

http://www.planecrashinfo.com/1920/1920.htm
http://www.planecrashinfo.com/1921/1921.htm
http://www.planecrashinfo.com/1922/1922.htm
http://www.planecrashinfo.com/1923/1923.htm
http://www.planecrashinfo.com/1924/1924.htm

,Date,location,airtype,aboard,on_board_fatal,ground_fatal
0,17 Sep 1908,"Fort Myer, VirginiaMilitary - U.S. Army\n",Wright Flyer III?,1,2,0
1,07 Sep 1909,"Juvisy-sur-Orge, France?\n",Wright ByplaneSC1,1,1,0
2,12 Jul 1912,"Atlantic City, New JerseyMilitary - U.S. Navy\n",Dirigible?,5,5,0
3,06 Aug 1913,"Victoria, British Columbia, CanadaPrivate\n",Curtiss seaplane?,1,1,0
4,09 Sep 1913,Over the North SeaMilitary - German Navy\n,Zeppelin L-1 (airship)?,14,20,0
...,...,...,...,...,...,...
91,08 Jun 1924,"Barranquilla, ColombiaSCADTA\n",Junkers F-13A16,5,5,0
92,01 Aug 1924,United StatesUS Aerial Mail Service\n,De Havilland DH-4297,1,1,0
93,06 Nov 1924,"Cabrerolles, FranceGrands Express Aeriens\n",Breguet 14F-AFBD,1,1,0
94,21 Dec 1924,"Goshen, IndianaUS Aerial Mail Service\n",De Havilland DH-4311,1,1,0
95,24 Dec 1924,"Purley, EnglandImperial Airways\n",de Havilland DH-34BG-EBBX,8,8,0

In [53]:

avg_on_board_fatal = pd.to_numeric(df["on_board_fatal"]).mean()
avg_ground_fatal = pd.to_numeric(df["ground_fatal"]).mean()
avg_aboard = pd.to_numeric(df["aboard"]).mean()


total_aboard = pd.to_numeric(df["aboard"]).sum()
total_on_board_fatal = pd.to_numeric(df["on_board_fatal"]).sum()
total_ground_fatal = pd.to_numeric(df["ground_fatal"]).sum()

696