In [1]:
import pandas as pd

In [21]:
df = pd.read_csv("insured.csv")
df.head(20)

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,17-10-14,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,27-06-06,IN,250/500,2000,1197.22,5000000,468176,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,06-09-00,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,25-05-90,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,06-06-14,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N
5,256,39,104594,12-10-06,OH,250/500,1000,1351.10,0,478456,...,2,NO,64100,6410,6410,51280,Saab,95,2003,Y
6,137,34,413978,04-06-00,IN,250/500,1000,1333.35,0,441716,...,0,?,78650,21450,7150,50050,Nissan,Pathfinder,2012,N
7,165,37,429027,03-02-90,IL,100/300,1000,1137.03,0,603195,...,2,YES,51590,9380,9380,32830,Audi,A5,2015,N
8,27,33,485665,05-02-97,IL,100/300,500,1442.99,0,601734,...,1,YES,27700,2770,2770,22160,Toyota,Camry,2012,N
9,212,42,636550,25-07-11,IL,100/300,500,1315.68,0,600983,...,1,?,42300,4700,4700,32900,Saab,92x,1996,N
10,235,42,543610,26-05-02,OH,100/300,500,1253.12,4000000,462283,...,2,?,87010,7910,15820,63280,Ford,F150,2002,N
11,447,61,214618,29-05-99,OH,100/300,2000,1137.16,0,615561,...,2,YES,114920,17680,17680,79560,Audi,A3,2006,N
12,60,23,842643,20-11-97,OH,500/1000,500,1215.36,3000000,432220,...,0,NO,56520,4710,9420,42390,Saab,95,2000,N
13,121,34,626808,26-10-12,OH,100/300,1000,936.61,0,464652,...,1,NO,7280,1120,1120,5040,Toyota,Highlander,2010,N
14,180,38,644081,28-12-98,OH,250/500,2000,1301.13,0,476685,...,2,YES,46200,4200,8400,33600,Dodge,Neon,2003,Y
15,473,58,892874,19-10-92,IN,100/300,2000,1131.40,0,458733,...,0,NO,63120,10520,10520,42080,Accura,MDX,1999,Y
16,70,26,558938,08-06-05,OH,500/1000,1000,1199.44,5000000,619884,...,2,YES,52110,5790,5790,40530,Nissan,Maxima,2012,N
17,140,31,275265,15-11-04,IN,500/1000,500,708.64,6000000,470610,...,2,YES,77880,14160,7080,56640,Suburu,Legacy,2015,N
18,160,37,921202,28-12-14,OH,500/1000,500,1374.22,0,472135,...,0,NO,72930,6630,13260,53040,Accura,TL,2015,N
19,196,39,143972,02-08-92,IN,500/1000,2000,1475.73,0,477670,...,0,NO,60400,6040,6040,48320,Nissan,Pathfinder,2014,N

In [25]:
df['police_report_available'].replace('?','not available')

0      Not available
1      not available
2                 NO
3                 NO
4                 NO
           ...
995    not available
996    not available
997              YES
998              YES
999    not available
Name: police_report_available, Length: 1000, dtype: object

In [30]:

question = '?'
check = type(question) 
for i in df.columns:
    index = 0
    for j in df[i]:
        if j==question:
            if type(j)==type(question):
                df[i].iloc[index]="Not available"
            else:
                df[i].iloc[index]=df[i].mean()
df.head(20)

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,17-10-14,OH,250/500,1000,1406.91,0,466132,...,2,Not available,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,27-06-06,IN,250/500,2000,1197.22,5000000,468176,...,0,Not available,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,06-09-00,OH,100/300,2000,1413.14,5000000,430632,...,3,Not available,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,25-05-90,IL,250/500,2000,1415.74,6000000,608117,...,2,Not available,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,06-06-14,IL,500/1000,1000,1583.91,6000000,610706,...,1,Not available,6500,1300,650,4550,Accura,RSX,2009,N
5,256,39,104594,12-10-06,OH,250/500,1000,1351.10,0,478456,...,2,Not available,64100,6410,6410,51280,Saab,95,2003,Y
6,137,34,413978,04-06-00,IN,250/500,1000,1333.35,0,441716,...,0,Not available,78650,21450,7150,50050,Nissan,Pathfinder,2012,N
7,165,37,429027,03-02-90,IL,100/300,1000,1137.03,0,603195,...,2,Not available,51590,9380,9380,32830,Audi,A5,2015,N
8,27,33,485665,05-02-97,IL,100/300,500,1442.99,0,601734,...,1,Not available,27700,2770,2770,22160,Toyota,Camry,2012,N
9,212,42,636550,25-07-11,IL,100/300,500,1315.68,0,600983,...,1,Not available,42300,4700,4700,32900,Saab,92x,1996,N
10,235,42,543610,26-05-02,OH,100/300,500,1253.12,4000000,462283,...,2,Not available,87010,7910,15820,63280,Ford,F150,2002,N
11,447,61,214618,29-05-99,OH,100/300,2000,1137.16,0,615561,...,2,Not available,114920,17680,17680,79560,Audi,A3,2006,N
12,60,23,842643,20-11-97,OH,500/1000,500,1215.36,3000000,432220,...,0,Not available,56520,4710,9420,42390,Saab,95,2000,N
13,121,34,626808,26-10-12,OH,100/300,1000,936.61,0,464652,...,1,Not available,7280,1120,1120,5040,Toyota,Highlander,2010,N
14,180,38,644081,28-12-98,OH,250/500,2000,1301.13,0,476685,...,2,Not available,46200,4200,8400,33600,Dodge,Neon,2003,Y
15,473,58,892874,19-10-92,IN,100/300,2000,1131.40,0,458733,...,0,Not available,63120,10520,10520,42080,Accura,MDX,1999,Y
16,70,26,558938,08-06-05,OH,500/1000,1000,1199.44,5000000,619884,...,2,Not available,52110,5790,5790,40530,Nissan,Maxima,2012,N
17,140,31,275265,15-11-04,IN,500/1000,500,708.64,6000000,470610,...,2,Not available,77880,14160,7080,56640,Suburu,Legacy,2015,N
18,160,37,921202,28-12-14,OH,500/1000,500,1374.22,0,472135,...,0,Not available,72930,6630,13260,53040,Accura,TL,2015,N
19,196,39,143972,02-08-92,IN,500/1000,2000,1475.73,0,477670,...,0,Not available,60400,6040,6040,48320,Nissan,Pathfinder,2014,N

In [14]:
import pandas as pd
df = pd.read_csv("IMDB-MOVIE-DATA.csv")
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [17]:
df.rename(columns={
    'Runtime (Minutes)':'Runtime',
    'Revenue (Millions)':'Revenue'
},inplace=True)

In [19]:
df.groupby(['Revenue']).max().sort_values(['Title'],ascending=False)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime,Rating,Votes,Metascore
Revenue,,,,,,,,,,,
341.26,75,Zootopia,"Animation,Adventure,Comedy","In a city of anthropomorphic animals, a rookie...",Byron Howard,"Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",2016,108,8.1,296853,78.0
28.84,432,Zoolander 2,Comedy,Derek and Hansel are lured into modeling again...,Ben Stiller,"Ben Stiller, Owen Wilson, Penélope Cruz, Will ...",2016,102,4.7,48297,34.0
75.59,364,Zombieland,"Adventure,Comedy,Horror",A shy student trying to reach his family in Oh...,Ruben Fleischer,"Jesse Eisenberg, Emma Stone, Woody Harrelson,A...",2009,88,7.7,409403,73.0
33.05,278,Zodiac,"Crime,Drama,History","In the late 1960s/early 1970s, a San Francisco...",David Fincher,"Jake Gyllenhaal, Robert Downey Jr., Mark Ruffa...",2007,157,7.7,329683,78.0
95.72,407,Zero Dark Thirty,"Drama,History,Thriller",A chronicle of the decade-long hunt for al-Qae...,Kathryn Bigelow,"Jessica Chastain, Joel Edgerton, Chris Pratt, ...",2012,157,7.4,226661,95.0
...,...,...,...,...,...,...,...,...,...,...,...
52.82,169,13 Hours,"Action,Drama,History","During an attack on a U.S. compound in Libya, ...",Michael Bay,"John Krasinski, Pablo Schreiber, James Badge D...",2016,144,7.3,76935,48.0
18.33,818,127 Hours,"Adventure,Biography,Drama",An adventurous mountain climber becomes trappe...,Danny Boyle,"James Franco, Amber Tamblyn, Kate Mara, Sean Bott",2010,94,7.6,294010,82.0
56.67,112,12 Years a Slave,"Biography,Drama,History","In the antebellum United States, Solomon North...",Steve McQueen,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...",2013,134,8.1,486338,96.0
71.90,119,10 Cloverfield Lane,"Drama,Horror,Mystery","After getting in a car accident, a woman is he...",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",2016,104,7.2,192968,76.0
32.39,508,(500) Days of Summer,"Comedy,Drama,Romance",An offbeat romantic comedy about a woman who d...,Marc Webb,"Zooey Deschanel, Joseph Gordon-Levitt, Geoffre...",2009,95,7.7,398972,76.0

In [3]:
!pip install soundfile

Collecting soundfile
  Downloading SoundFile-0.10.3.post1-py2.py3.cp26.cp27.cp32.cp33.cp34.cp35.cp36.pp27.pp32.pp33-none-win_amd64.whl (689 kB)
Requirement already satisfied: cffi>=1.0 in c:\users\latitude\anaconda3\lib\site-packages (from soundfile) (1.14.5)
Requirement already satisfied: pycparser in c:\users\latitude\anaconda3\lib\site-packages (from cffi>=1.0->soundfile) (2.20)
Installing collected packages: soundfile
Successfully installed soundfile-0.10.3.post1

In [4]:
!pip install librosa

Collecting librosa
  Downloading librosa-0.8.1-py3-none-any.whl (203 kB)
Collecting audioread>=2.0.0
  Downloading audioread-2.1.9.tar.gz (377 kB)
Requirement already satisfied: soundfile>=0.10.2 in c:\users\latitude\anaconda3\lib\site-packages (from librosa) (0.10.3.post1)
Requirement already satisfied: numpy>=1.15.0 in c:\users\latitude\anaconda3\lib\site-packages (from librosa) (1.20.1)
Requirement already satisfied: joblib>=0.14 in c:\users\latitude\anaconda3\lib\site-packages (from librosa) (1.0.1)
Requirement already satisfied: numba>=0.43.0 in c:\users\latitude\anaconda3\lib\site-packages (from librosa) (0.53.1)
Collecting pooch>=1.0
  Downloading pooch-1.5.2-py3-none-any.whl (57 kB)
Requirement already satisfied: scikit-learn!=0.19.0,>=0.14.0 in c:\users\latitude\anaconda3\lib\site-packages (from librosa) (0.24.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\latitude\anaconda3\lib\site-packages (from librosa) (1.6.2)
Requirement already satisfied: packaging>=20.0 in c:\users\latitude\anaconda3\lib\site-packages (from librosa) (20.9)
Collecting resampy>=0.2.2
  Downloading resampy-0.2.2.tar.gz (323 kB)
Requirement already satisfied: decorator>=3.0.0 in c:\users\latitude\anaconda3\lib\site-packages (from librosa) (5.0.6)
Requirement already satisfied: llvmlite<0.37,>=0.36.0rc1 in c:\users\latitude\anaconda3\lib\site-packages (from numba>=0.43.0->librosa) (0.36.0)
Requirement already satisfied: setuptools in c:\users\latitude\anaconda3\lib\site-packages (from numba>=0.43.0->librosa) (52.0.0.post20210125)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\latitude\anaconda3\lib\site-packages (from packaging>=20.0->librosa) (2.4.7)
Requirement already satisfied: appdirs in c:\users\latitude\anaconda3\lib\site-packages (from pooch>=1.0->librosa) (1.4.4)
Requirement already satisfied: requests in c:\users\latitude\anaconda3\lib\site-packages (from pooch>=1.0->librosa) (2.25.1)
Requirement already satisfied: six>=1.3 in c:\users\latitude\anaconda3\lib\site-packages (from resampy>=0.2.2->librosa) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\latitude\anaconda3\lib\site-packages (from scikit-learn!=0.19.0,>=0.14.0->librosa) (2.1.0)
Requirement already satisfied: cffi>=1.0 in c:\users\latitude\anaconda3\lib\site-packages (from soundfile>=0.10.2->librosa) (1.14.5)
Requirement already satisfied: pycparser in c:\users\latitude\anaconda3\lib\site-packages (from cffi>=1.0->soundfile>=0.10.2->librosa) (2.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\latitude\anaconda3\lib\site-packages (from requests->pooch>=1.0->librosa) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\latitude\anaconda3\lib\site-packages (from requests->pooch>=1.0->librosa) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\latitude\anaconda3\lib\site-packages (from requests->pooch>=1.0->librosa) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\latitude\anaconda3\lib\site-packages (from requests->pooch>=1.0->librosa) (1.26.4)
Building wheels for collected packages: audioread, resampy
  Building wheel for audioread (setup.py): started
  Building wheel for audioread (setup.py): finished with status 'done'
  Created wheel for audioread: filename=audioread-2.1.9-py3-none-any.whl size=23141 sha256=4393d8e367a95e31101808d6fe45cf5e48ce8cc9de0627c2654f4ab51f22fc65
  Stored in directory: c:\users\latitude\appdata\local\pip\cache\wheels\49\5a\e4\df590783499a992a88de6c0898991d1167453a3196d0d1eeb7
  Building wheel for resampy (setup.py): started
  Building wheel for resampy (setup.py): finished with status 'done'
  Created wheel for resampy: filename=resampy-0.2.2-py3-none-any.whl size=320718 sha256=3a54bdbbea8869413e2e7705823406e32aebd324a9b64e8a4961386be83da95b
  Stored in directory: c:\users\latitude\appdata\local\pip\cache\wheels\6f\d1\5d\f13da53b1dcbc2624ff548456c9ffb526c914f53c12c318bb4
Successfully built audioread resampy
Installing collected packages: resampy, pooch, audioread, librosa
Successfully installed audioread-2.1.9 librosa-0.8.1 pooch-1.5.2 resampy-0.2.2

In [5]:
import librosa
import soundfile

In [ ]:
x , s_rate = librosa.load()
#short term frontier transformation stft

In [2]:
!pip install opencv-headless
!pip install mediapipe
# !opencv-python-headless

ERROR: Could not find a version that satisfies the requirement opencv-headless
ERROR: No matching distribution found for opencv-headless

Requirement already satisfied: mediapipe in c:\users\latitude\anaconda3\lib\site-packages (0.8.9)
Requirement already satisfied: matplotlib in c:\users\latitude\anaconda3\lib\site-packages (from mediapipe) (3.3.4)
Requirement already satisfied: opencv-contrib-python in c:\users\latitude\anaconda3\lib\site-packages (from mediapipe) (4.5.4.58)
Requirement already satisfied: six in c:\users\latitude\anaconda3\lib\site-packages (from mediapipe) (1.15.0)
Requirement already satisfied: absl-py in c:\users\latitude\anaconda3\lib\site-packages (from mediapipe) (1.0.0)
Requirement already satisfied: protobuf>=3.11.4 in c:\users\latitude\anaconda3\lib\site-packages (from mediapipe) (3.19.1)
Requirement already satisfied: wheel in c:\users\latitude\anaconda3\lib\site-packages (from mediapipe) (0.36.2)
Requirement already satisfied: numpy in c:\users\latitude\anaconda3\lib\site-packages (from mediapipe) (1.20.1)
Requirement already satisfied: attrs>=19.1.0 in c:\users\latitude\anaconda3\lib\site-packages (from mediapipe) (20.3.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\latitude\anaconda3\lib\site-packages (from matplotlib->mediapipe) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\latitude\anaconda3\lib\site-packages (from matplotlib->mediapipe) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\latitude\anaconda3\lib\site-packages (from matplotlib->mediapipe) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\latitude\anaconda3\lib\site-packages (from matplotlib->mediapipe) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\latitude\anaconda3\lib\site-packages (from matplotlib->mediapipe) (8.2.0)

In [ ]:
import cv2
import mediapipe as mp
import time

cap = cv2.VideoCapture(0)
mpHands = mp.solutions.hands
hands = mpHands.Hands()
mpDraw = mp.solutions.drawing_utils
while True:
    success, img = cap.read()
    imgRGB = cv2.cvtColor(img,cv2.COLOR_BGR2RGB)
    results = hands.process(imgRGB)
    #print(results.multi_hands_landmarks)
    if results.multi_hand_landmarks:
        for handLms in results.multi_hand_landmarks:
            mpDraw.draw_landmarks(img,handLms,mpHands.HAND_CONNECTIONS)
             
    cv2.imshow("Image", img)
    cv2.waitKey(1)

In [ ]:
#Run this cell to see output
# pd.read_csv('sample.csv')
url = f'https://www.daraz.pk/'
print(url)

options = Options()

driver = webdriver.Chrome(ChromeDriverManager().install(), options=options)

names = []
prices = []
disc_prices = []
disc_percentage = []

driver.get(url)
driver.find_element_by_xpath('//*[@id="hp-flash-sale"]/div[2]/div[1]/a').click()
time.sleep(5)
for item in driver.find_element_by_class_name('item-list-content').text:
    try:
        name = item.find_element_by_class_name('sale-title').text
    except ValueError:
        name = 'Not Available'

    #priceee
    try:
        price = int(item.find_element_by_class_name('origin-price-value').text[3:].replace(',',''))
    except ValueError:
        price = 0

    #discounted price
    try:
        dprice = int(item.find_element_by_class_name('sale-price').text[3:].replace(',',''))
    except ValueError:
        dprice = 0
        
    try:
        dpercent = int(item.find_element_by_class_name('discount').text[:-1])
    except ValueError:
        dpercent = 0
        
    prices.append(price)
    names.append(name)
    disc_prices.append(dprice)
    disc_percentage(dpercent)
driver.close()

print(disc_prices,disc_percentage,prices,names)